// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "font-awesome";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.jumbotron {
    margin-bottom: 1rem;
    padding: 0 0;
}
