<template>
  <div class="container">
    <div v-if="logged()">
      <div
        class="modal fade bd-example-modal-lg"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        id="loading_modal"
      >
        <div class="modal-dialog modal-sm">
          <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
          </div>
        </div>
      </div>
      <header-vue></header-vue>
      <nav-bar></nav-bar>
      <router-view :key="$route.fullPath"></router-view>
    </div>
  </div>
</template>

<script>
import HeaderVue from "./Layout/Header.vue";
import NavBar from "./Layout/NavBar.vue";

export default {
  components: { "header-vue": HeaderVue, "nav-bar": NavBar },
  beforeMount() {},
  data: function () {
    return {
      user: {
        email: "",
        password: "",
        remeber_me: true,
      },
    };
  },
  methods: {
    logged() {
      let token = localStorage.getItem("token");
      console.log(token);
      if (token == null) {
        window.location.replace("/login");
        return false;
      } else {
        return true;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
</style>
