<template>
  <div class="container">
    <header-vue></header-vue>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form @submit="loginSubmit">
              <div class="form-group">
                <label for="email_input">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email_input"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                  v-model="user.email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  v-model="user.password"
                />
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderVue from "./Layout/Header.vue";

export default {
  components: { "header-vue": HeaderVue },
  mounted() {},
  data: function () {
    return {
      user: {
        email: "",
        password: "",
        remeber_me: true,
      },
    };
  },
  methods: {
    async loginSubmit(e) {
      e.preventDefault();
      this.$axios
        .post("/api/login", this.user)
        .then((response) => {
          localStorage.setItem("token", response.data.data.token);
          window.location.replace("/dashboard");
        })
        .catch((err) => {
          this.$alert({
            text: err,
            icon: "error",
            confirmButtonText: "Ok",
          });
        });
    },
    change_remeber_me(e) {
      e.preventDefault();
      this.user.remeber_me = !this.user.remeber_me;
    },
  },
};
</script>
