<template>
  <div class="container">
    <div class="row">
      <div :class="classTo" class="col-md-12" role="alert" id="alert">
        {{ message }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["type", "message"],
  mounted() {
    $("#alert")
      .fadeTo(5000, 500)
      .slideUp(500, function () {
        $("#alert").slideUp(500);
      });
  },
  computed: {
    classTo() {
      if (this.type == "sucess") {
        return "alert alert-success";
      }
    },
  },
};
</script>
