<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12" v-for="alert in alerts">
        <alert :type="alert.type" :message="alert.message"></alert>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["type", "message"],
  mounted() {
    let alerts = sessionStorage.getItem("alerts");
    if (alerts != null) {
      this.alerts = JSON.parse(alerts);
      sessionStorage.removeItem("alerts");
    }
  },
  data: () => {
    return { alerts: [] };
  },
  computed: {
    classTo() {
      if (this.type == "sucess") {
        return "alert alert-success";
      }
    },
  },
};
</script>
