<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title"],
};
</script>
