<template>
  <div class="container">
    <title-page title="Create Announcements"></title-page>
    <alert-manager></alert-manager>
    <div class="row">
      <div class="col-md-4">
        <title-left title="Instructions"></title-left>
        <div class="container horizontal-scrollable">
          {{ generateFakeInstruction() }}
        </div>
      </div>
      <div class="col-md-8">
        <form @submit="createAnnouncement">
          <div class="form-group">
            <label for="title_input">Title</label>
            <input
              type="text"
              class="form-control"
              id="title_input"
              aria-describedby="title_input_Help"
              placeholder="Enter the title"
              :disabled="!editable"
              v-model="data.title"
            />
          </div>
          <div class="form-group">
            <label for="content_input">Content</label>
            <textarea
              type="text"
              class="form-control"
              id="content_input"
              placeholder="Content"
              rows="3"
              :disabled="!editable"
              v-model="data.content"
            />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="start_date_input">Start date</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  id="start_date_input"
                  aria-describedby="start_date_input_Help"
                  :disabled="!editable"
                  v-model="data.start_date"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="expiration_date_input">Expiration date</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  id="expiration_date_input"
                  aria-describedby="expiration_date_input_Help"
                  :disabled="!editable"
                  v-model="data.expiration_date"
                />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            {{ saveText }}
          </button>
          <router-link
            :to="{ name: 'announcements_list' }"
            class="btn btn-primary"
            >Cancel</router-link
          >
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { LoremIpsum } from "lorem-ipsum";
export default {
  mounted() {
    console.log("Pagina de criação montada.");
    if (this.$route.name == "announcements_create") {
      this.request_data = {
        url: "/api/announcements",
        method: "POST",
      };
      this.editable = true;
    } else if (this.$route.name == "announcements_edit") {
      this.request_data = {
        url: "/api/announcements/" + this.$route.params.id,
        method: "PUT",
      };
      this.getData();
      this.editable = true;
    } else {
      this.request_data = null;
      this.editable = false;
      this.getData();
    }
  },
  data: () => {
    return {
      alerts: [],
      request_data: null,
      editable: false,
      data: {},
    };
  },
  methods: {
    createAnnouncement: function (event) {
      event.preventDefault();
      if (this.request_data == undefined) {
        this.$router.push({
          name: "announcements_edit",
          params: { id: this.$route.params.id },
        });
      } else {
        this.$axios({
          method: this.request_data.method,
          url: this.request_data.url,
          data: this.data,
        }).then((result) => {
          let alerts = sessionStorage.getItem("alerts");
          if (alerts != null) {
            alerts = JSON.parse(alerts);
            alerts.push({
              type: "sucess",
              message: result.data.message,
            });
            sessionStorage.setItem("alerts", JSON.stringify(alerts));
          } else {
            alerts = [];
            alerts.push({
              type: result.data.success ? "sucess" : "error",
              message: result.data.message,
            });
            sessionStorage.setItem("alerts", JSON.stringify(alerts));
          }
          this.$router.push({ name: "announcements_list" });
        });
      }
    },
    generateFakeInstruction() {
      const lorem = new LoremIpsum({
        format: "html",
        sentencesPerParagraph: {
          max: 8,
          min: 4,
        },
        wordsPerSentence: {
          max: 16,
          min: 4,
        },
      });
      return lorem.generateParagraphs(1);
    },
    getData() {
      let thes = this;
      this.$get("api/announcements/" + this.$route.params.id).then(
        (response) => {
          thes.data = response.data.data;
          thes.data.start_date = thes.$dataFormatToDatatime_Local(
            thes.data.start_date
          );
          thes.data.expiration_date = thes.$dataFormatToDatatime_Local(
            thes.data.expiration_date
          );
        }
      );
    },
  },
  computed: {
    saveText: function () {
      if (this.request_data == null) {
        return "Edit";
      } else if (this.request_data.method == "PUT") {
        return "Save";
      } else {
        return "Create";
      }
      return "12";
    },
  },
};
</script>
