<template>
  <div class="container">
    <title-page title="List Annoucements"></title-page>
    <alert-manager v-if="renderAlert"></alert-manager>
    <div v-if="laravelData.data.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in laravelData.data">
            <th class="col-md-2">{{ $dataFormat(data.start_date) }}</th>
            <td class="col-md-2">{{ $dataFormat(data.expiration_date) }}</td>
            <td>{{ data.title }}</td>
            <td class="col-md-2">
              <router-link
                :to="{ name: 'announcements_viewer', params: { id: data.id } }"
                class="btn btn-light"
                data-toggle="tooltip"
                data-placement="top"
                title="To view"
                ><i class="fa fa-eye" aria-hidden="true"></i
              ></router-link>
              <router-link
                :to="{ name: 'announcements_edit', params: { id: data.id } }"
                class="btn btn-light"
                data-toggle="tooltip"
                data-placement="top"
                title="To edit"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i></router-link
              ><button
                type="button"
                class="btn btn-light"
                data-toggle="tooltip"
                data-placement="top"
                title="Delete"
                @click="deleteAnnouncement(data.id)"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <title-left title="Empty Annoucements"></title-left>
    </div>
    <pagination
      :data="laravelData"
      @pagination-change-page="getResults"
    ></pagination>
  </div>
</template>
<script>
import axios from "axios";

export default {
  mounted() {
    this.getResults();
  },
  data: () => {
    return {
      laravelData: { data: [] },
      loading: true,
      renderAlert: true,
    };
  },
  methods: {
    getResults(page = 1) {
      let thes = this;
      this.loading = true;
      axios.get("api/announcements?page=" + page).then((response) => {
        thes.loading = false;
        thes.laravelData = response.data;
      });
    },
    deleteAnnouncement(id) {
      this.$delete("api/announcements/" + id).then((result) => {
        this.renderAlert = false;
        let alerts = sessionStorage.getItem("alerts");
        if (alerts != null) {
          alerts = JSON.parse(alerts);
          alerts.push({
            type: "sucess",
            message: result.data.message,
          });
          sessionStorage.setItem("alerts", JSON.stringify(alerts));
        } else {
          alerts = [];
          alerts.push({
            type: result.data.success ? "sucess" : "error",
            message: result.data.message,
          });
          sessionStorage.setItem("alerts", JSON.stringify(alerts));
        }
        this.$nextTick(() => {
          this.renderAlert = true;
        });
        this.getResults();
      });
    },
  },
};
</script>
