<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!-- <div v-if="logged()">
          <div v-if="in_dashboad()"> -->
        <li class="nav-item dropdown" v-if="logged() && in_dashboad()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Announcements
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <router-link
              :to="{ name: 'announcements_list' }"
              class="dropdown-item"
              >Announcements</router-link
            >
            <router-link
              :to="{ name: 'announcements_create' }"
              class="dropdown-item"
              >New Announcements</router-link
            >
          </div>
        </li>
        <li class="nav-item" v-if="logged()">
          <a class="nav-link" href="#" @click="logout">Logout</a>
        </li>
        <!-- </div>
          <div v-else> -->
        <li class="nav-item" v-if="logged() && !in_dashboad()">
          <a class="nav-link" href="/dashboard"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <!-- </div>
        </div>
        <div v-else> -->
        <li class="nav-item active" v-if="!logged()">
          <a class="nav-link" href="/login"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <!-- </div> -->
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  data: () => {
    return {};
  },
  methods: {
    logged() {
      return localStorage.getItem("token") != null;
    },
    in_dashboad() {
      return window.location.pathname == "/dashboard";
    },
    logout() {
      localStorage.removeItem("token");
      window.location.replace("/");
      //   window.location.reload();
    },
  },
};
</script>
